<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>BUYSELL</title>
</head>
<body>
<h1>BYSELL</h1>
<hr>
<h4>Подробная информация о товаре</h4>
{{#images}}
	<img src="/images/{{id}}" height="68px"/><br><br>
{{/images}}
{{^product.images}}
	<p>Нет доступных изображений</p>
{{/product.images}}
<b>Название товара: </b>{{product.title}}<br>
<b>Описание товара: </b>{{product.description}}<br>
<b>Цена: </b>{{product.price}}<br>
<b>Город: </b>{{product.city}}<br>
<b>Автор: </b>{{product.author}}<br>
<hr>
<form action="/product/delete/{{product.id}}" method="post">
	<input type="submit" value="Удалить"/>
</form>
</body>
</html>



